@import url("https://use.typekit.net/dno4axc.css");
@import url("/css/style.css");
:root {
  --section-rotate: 9vw;
}

::-moz-selection {
  background-color: #55c57a;
  color: #fff;
}

::selection {
  background-color: #55c57a;
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #000;
  background: linear-gradient(180deg, #000 0, #2e2e2e 300px, #000 1000px);
  line-height: 1.6;
  font-family: Corporate A Pro Light, serif;
  font-weight: 200;
  font-style: normal;
  color: #777;
  margin: 0 auto;
}

/******************************* Carousel-item  *********************************/
header {
  position: relative;
  width: 100vw;
}

.carousel {
  max-width: 1695px;
  margin: 0 auto;
}

.carousel-indicators li {
  width: 60px;
}

.carousel-item {
  height: 70vh;
  width: 100%;
  background-color: black;
  color: #fff;
  position: relative;
  background-position: center;
  background-size: cover;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 5rem;
  cursor: pointer;
}

.container-title-sub {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  padding-bottom: 5rem;
  cursor: pointer;
}

.container-title-sub h1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: Corporate A Pro Light, serif;
  font-weight: 200;
  font-style: normal;
  font-size: 4.5rem;
  color: #fff;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: initial;
}

@media (max-width: 1280px) {
  .container-title-sub h1 {
    font-size: 3rem;
  }
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.5;
  background-position: center;
  background-size: cover;
}

.dotm {
  display: block;
  background: url(https://media.giphy.com/media/5l3lJzA8zVMqc/giphy.gif) no-repeat;
  /* change with the image URL */
  background-size: cover;
}

.dotm-overlay {
  background: url(http://s14.directupload.net/images/111129/44ga9qid.png);
  width: 100%;
  height: 70vh;
  /*height of the image*/
}

/*----------------------------------------*/
/*REUSABLE COMPONENTS*/
/*----------------------------------------*/
/*----------------------------------------*/
/*---------PARAGRAPHS------------------------*/
/*----------------------------------------*/
.ma-bt-md {
  margin-bottom: 3rem;
}

.ma-bt-lg {
  margin-bottom: 3.5rem;
}

.right {
  text-align: right;
}

.line {
  margin: 6rem 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

h2 {
  font-family: Corporate A Pro Light, serif;
  font-weight: 200;
  font-style: normal;
  font-size: 4.8rem;
  color: #000000;
  line-height: 1;
  letter-spacing: 0px;
  text-transform: initial;
}

@media (max-width: 1280px) {
  h2 {
    font-size: 3rem;
  }
}

/****************************************************************/
/**************************   Headings **************************/
/****************************************************************/
.heading-secondary {
  font-size: 2.25rem;
  font-family: "monument extended";
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.heading-primary,
.heading-tertiary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.heading-primary span,
.heading-tertiary span {
  padding: 1rem 1.5rem;
  line-height: 1;
}

#color {
  color: #000;
}

.heading-primary {
  font-size: 3rem;
  font-family: "monument extended";
  text-align: center;
  margin: 0 auto;
}

#text-align {
  text-align: start;
}

.heading-tertiary {
  font-size: 1.75rem;
  text-align: center;
  font-family: "monument extended";
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background-color: #ffffff;
  color: black;
}

.btn--orange {
  background-color: #fbbf0a;
  color: #fff;
}

.btn--green::after {
  background-color: #ffffff;
}

.btn--small {
  padding: 1.25rem 3rem !important;
  font-size: 1.4rem !important;
}

.btn-small,
.btn-small:link,
.btn-small:visited {
  background-color: #fefefe;
  color: #fff;
  font-size: 1.4rem;
  padding: 1.25rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  border: none;
}

.btn-small:hover {
  background-color: #000;
}

.btn-text:link,
.btn-text:visited {
  color: #000;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#btn-color1 {
  background-color: #fbbf0a;
}

.btn-text:hover {
  background-color: #000;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.btn-text:active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-text:focus {
  outline: none;
  outline: 3px solid #000;
  outline-offset: 3px;
}

/*--------------best css effect backgrou-att-fixed----------------------*/
/*----------------SECTION MODELS-------------------*/
.models {
  padding: 10rem 4rem;
  background-color: #f8f8f8;
  width: 100vw;
  max-width: 1695px;
  margin: 0 auto;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.models-content-top {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid #ddd;
}

.models-content-top-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
  width: 100%;
}

.models-content-down {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.models-content-down-left {
  background-color: #f8f8f8;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  padding: 4rem 1rem;
  width: 100%;
  height: 100%;
}

@media (max-width: 1280px) {
  .models-content-down-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
  }
}

.models-content-down-right {
  background-color: blue;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
}

@media (max-width: 1280px) {
  .models-content-down-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }
}

@media (max-width: 1280px) {
  .models-content-down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.car-list-icons {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.car-list-icon-one {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: initial;
  color: #b5b2b2;
  list-style: none;
  text-decoration: none;
  margin-bottom: 2rem;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  background-color: transparent;
  color: #999999;
}

.btn-car-1 {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  background-color: transparent;
  color: #000000;
  font-weight: bold;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  position: relative;
}

.btn-car-1::before {
  position: absolute;
  content: "";
  border: 1px solid #b5b2b2;
  width: 8rem;
  top: -25%;
  right: -20%;
}

.models-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 40rem;
  width: 100%;
  height: 6rem;
  text-align: center;
}

.models-links-item {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  width: 12.5rem;
  height: 6rem;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  border: 1px solid #d5d2d2;
  background-color: white;
}

.models-links-item:hover {
  background-color: #b6b5b5;
  cursor: pointer;
}

#bgClr {
  background-color: #1a1a1a;
  cursor: default;
}

.models-content-top-models .models-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

li {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: normal;
  text-transform: initial;
  color: #dcd7d7;
  list-style: none;
  text-decoration: none;
  cursor: inherit;
}

/****************************************************************/
/**************************  header **************************/
/******************************** FOOTER ********************************/
footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15))), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-footer-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-footer-1 p {
  width: 65%;
  text-align: center;
  font-weight: 300;
  color: #ddd9d9;
  margin-bottom: 5rem;
}

.nav-footer li {
  font-family: "monument extended";
  color: #ddd9d9;
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 12rem;
}

#copy {
  margin-top: 4rem;
}
/*# sourceMappingURL=hero.css.map */