:root {
    --color-primary: #F58A07;
    --color-black: #001011;
    --color-blue: #0267C1;
    --color-mint-cream: #F7FFF6;
    --color-grey: #FBFFFE;
    --color-grey-light-1: #f2f2f2;
    --color-grey-light-2: #bfbfbf;
    --color-grey-light-3: #8c8c8c;
    --color-grey-light-4: #404040;

    --color-grey-text-1: rgb(38, 37, 37);
    --color-grey-text-2: rgb(97, 97, 97);
    --color-grey-text-3: #999;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    --line: 1px solid var(--color-grey-light-2);
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }


body{
    background-color:var(--color-mint-cream);
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
}


//********************** NAV******************************//
nav {
    position: fixed;
    width: 100vw;
    height: 8rem;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.481);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: .5rem 1.5rem;
  }
  
  .logo {
    width: 10rem;
    height: 4rem;
  }
  
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: center;
  
  }
  
   a {
    list-style: none;
  }
  
  ul li a {
    text-decoration: none;
    color: #ffffff;
  }
  a:hover { 
    text-decoration: none; 
  } 
  
  ul {
    list-style: none;
  }
  
  li {
    text-decoration: none;
    margin-right: 2rem;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'monument extended';
    color: #ddd9d9;
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  
  }
  
  .icon-box-x {
    fill: #fff;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
  }
  