:root {
    --color-primary: #F58A07;
    --color-black: #001011;
    --color-blue: #0267C1;
    --color-mint-cream: #F7FFF6;
    --color-grey: #FBFFFE;
    --color-grey-light-1: #f2f2f2;
    --color-grey-light-2: #bfbfbf;
    --color-grey-light-3: #8c8c8c;
    --color-grey-light-4: #404040;

    --color-grey-text-1: rgb(38, 37, 37);
    --color-grey-text-2: rgb(97, 97, 97);
    --color-grey-text-3: #999;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    --line: 1px solid var(--color-grey-light-2);
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }


body{
    background-color:var(--color-mint-cream);
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
}