@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;669&display=swap");
:root {
  --color-primary: #f58a07;
  --color-black: #001011;
  --color-blue: #0267c1;
  --color-mint-cream: #f7fff6;
  --color-grey: #fbfffe;
  --color-grey-light-1: #f2f2f2;
  --color-grey-light-2: #bfbfbf;
  --color-grey-light-3: #8c8c8c;
  --color-grey-light-4: #404040;

  --color-grey-text-1: rgb(38, 37, 37);
  --color-grey-text-2: rgb(97, 97, 97);
  --color-grey-text-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--color-mint-cream);
  font-family: source-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
}

//********************** NAV******************************//
nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  margin: 0 auto;
  height: 18rem;
  z-index: 2;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  flex-direction: column;

  z-index: 100;
}

hr {
  border: 0;
  height: 0;
  border-top: 0.1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.18);
}

.logo-area {
  flex: 0 0 50%;
  max-width: 1695px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h6 {
    font-family: "Playfair Display", serif;
    color: rgb(216, 215, 215);
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1;
  }
}

.logo {
  width: 8rem;
  height: 7rem;
}

.logo-sub {
  flex: 1;
  max-width: 1695px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

ul {
  list-style: none;
}

ul .nav-links-item-1a {
  text-decoration: none;
  list-style: none;
}

.nav-links-item-1 {
  text-decoration: none;
  margin-right: 2rem;
  color: #fff;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #999999§;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.icon-box-x {
  fill: #999999;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  transition: all 0.1s;
  cursor: pointer;
  &:hover {
    fill: #fff;
  }
}

.hero {
  background-image: url(/css/img/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
}
